---
import Layout from "../layouts/Layout.astro";
import LovedProductsList from "../components/LovedProducts";
---

<Layout title="Loved Products">
    <div class="container section">
        <LovedProductsList client:only="react" />
    </div>
</Layout>
